/*************************/
/* CSS REMEDY            */
/*************************/
* {
    padding:0%;
    box-sizing: border-box;
    margin: 0%;
  }

*, *::after, *::before {
  box-sizing:border-box;  
}



/*************************/
/* CUSTOM PROPERTIES     */
/*************************/
:root {
	--color-text: black;
  --color-span: black;
}

@font-face { /* fonts van: https://www.onlinewebfonts.com/download/70f3e46b3bb904260d1b1a6e0f2edf08 */
  font-family: "HM Sans Latin Bold";
  src: url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/4e6e57c2a88df92df489202798f556de.svg#HM Sans Latin Bold")format("svg");
}
@font-face {
  font-family: "HM Sans Regular";
  src: url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.eot");
  src: url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/70f3e46b3bb904260d1b1a6e0f2edf08.svg#HM Sans Regular")format("svg");
}


body {
	font-family: "HM Sans Regular";
}

h1 {
	font-family: "HM Sans Latin Bold";
}

ul {
  padding: 0;
}


@keyframes focussed { /* animatie bij DOORGAAN formulier*/
  from {
    background-color: inherit;
  } to {
    background-color: red;
  }
}

/* Media query voor tekstgrootte wanneer scherm verandert */ 
/* bron: https://www.shecodes.io/athena/74977-how-to-change-font-size-with-media */
@media only screen and (max-width: 767px) { 
  p {
    font-size: 1rem;  
  }

  h1 {
    font-size: 2.4rem;
  }

  h2, a {
    font-size: 1.1rem;
  }

}

/* grotere schermen */
@media only screen and (min-width: 768px) {
  p {
    font-size: 2rem;  
  }

  h1 {
    font-size: 4rem; 
  }

 h2, a {
    font-size: 2.2rem;  
  }

}
 




/*************************/
/* HEADER */
/*************************/

header nav > a { /* > betekent dat er wordt gekeken naar directe child in de parent*/
  min-width: 6rem;
  display: block; /* maakt t mogelijk om width toe te passen */
  width: 7rem;
  max-width: 8rem;
}

img {
  width: 100%;
}

header {
  overflow: hidden;
  background-color: white;
  z-index: 1; /* boven de rest wanneer je scrollt*/
  position: fixed; /* zodat de header vast staat, ook als je naar beneden scrollt*/
  width: 100%; 
}

header nav {
  display: flex;
  align-items: center;
  padding: .5rem;

}

header nav ul {
  display: flex;
  margin: 0 auto;
}

header nav ul li {
  list-style-type: none;
}


header nav ul li button img {
  width: 100%;
}

header nav ul li button {
  width: 100%;
  border: none;
  background-color: transparent;
}

header nav ul li   {
  width: 2.5rem;
}

header nav:nth-of-type(1) > button {
  aspect-ratio: 1/1; /*tip van student assistent, maakt een vierkant*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5em;
  background-color: transparent;
  border: none;
  width: 1.6rem;
}

header nav:nth-of-type(1) > button span { /*twee streepjes stijlen*/
  width: 100%;
  height: 0.1rem;
  display: block;
  background-color: black;
  transition: .2s;
}

header nav:nth-of-type(1) > button.active span:nth-of-type(1) { 
  /* button.active vergroot klikveld en zorgt voor toegankelijkheid*/
  rotate:50deg; /*draait span 50 graden met klok mee*/
  transform: translateY(.4rem) translateX(-.1rem); /*y= omlaag, x= naar links, want min*/

}

header nav:nth-of-type(1) > button.active span:nth-of-type(2) {
  rotate:-50deg;
  transform: translateY(-.5rem);

}






/*************************/
/* formulier             */
/*************************/

body > section { /*zorgt ervoor dat formulier verborgen blijft*/
  display: none;
}

body > section.active {  /*in combinatie met js */
  position: absolute; /*zodat het boven aan komt te staan, in combi met top en left */
  top: 0;
  left: 0;
  display: flex;
  z-index: 1;
  flex-direction: column;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

body > section h4 {
  margin: 2rem 0;
}

body > section h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

body > section h5 img { /* slotje */
  width: 5%;
  min-width: 5%;
  max-width: 5%;
}

body > section div:first-of-type {
  display: flex;
  justify-content: space-between;
}

body > section div button { /* kruisje in de hoek */
  width: 1.5rem;
  background-color: transparent;
  border: none;
}
body > section div:nth-of-type(2) { /* naam en email blokjes*/
  display: flex;
  flex-direction: column;
  text-align: left;
}

body > section div:nth-of-type(2) input{
  padding: 1rem;  /* wit ruimte in het vakje  */
  background-color: transparent;
}

body > section div:nth-of-type(2) input:user-invalid {  /* bron= https://developer.mozilla.org/en-US/docs/Web/CSS/:user-invalid */
  /* als je typt en het is geen juist formaat krijg je rood=error */
  background-color: rgb(212, 79, 79);
}

body > section > button{  /* DOORGAAN knop */
  width: 100%;
  margin: 2rem auto;
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
}

body > section > button:focus { /* als je tabt wordt het beter zichtbaar met de focus */
  animation: focussed 1s infinite;
  outline: none;
  color: white;
  color: var(--color-text);
}





/***************************/
/* MAIN (2e nav bar zwart) */
/***************************/
main {
  position: relative; /* m verschuift binnen*/
  padding-top: 4.4rem;
}

main > nav {
  position: fixed; /* blijft altijd op de zelfde plek staan, maakt niet uit hoe je scrollt */
  left: 0;
  height: 100vh;
  background-color: black;
  width: 110vw; /* zwarte breedte */
  z-index: 1; /* zorgt ervoor dat de header boven de rest van de site is */
  transform: translateX(110vw); /*zorgt ervoor dat de nav uit het scherm gaat*/
  transition: .2s;
}

main > nav.active {
  transform: translateX(0); /*nav in beeld*/
}

main > nav ul {
  display: flex;
  align-items: center;
  overflow-x: scroll;  /*tafeldecoratie, kaarsen, kerstbomen etc kan horizontaal gescrollt worden*/
  gap: 2rem;
  padding: 1rem;
}

main > nav ul li a {
  color: white;
  display: inline-flex; /*combi van flexbox en inline*/
}

main > nav ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 

main > nav ul:nth-of-type(2) li a {
  font-size: 2.5rem;
} 

/* bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
ul::-webkit-scrollbar { /*om scrollbar weg te halen bij tafeldecoratie, kaarsen, etc*/
  display: none;
}






/*******************************/
/* MAIN holiday-shop homepagina*/
/*******************************/
main section:nth-of-type(1) h1 {
  margin-bottom: 1rem; 
  text-align: center;
  margin-top: 1.4rem;
}

main section:nth-of-type(1) img {
  width: 100%;
  height: 40rem;
  object-fit: cover; /*zorgt voor zoom als scherm breder wordt*/
}

main article:nth-of-type(1) {
  display: flex;
  flex-direction: row; /*naar beneden*/
  justify-content: space-between;
  max-width: 100vw;

}

main article:nth-of-type(1) > p, h2 {
  display: inline-block;
  margin-right: 4rem;
  text-align: left;
}

main article:nth-of-type(1) p, main article:nth-of-type(2), article:nth-of-type(3), 
article:nth-of-type(4), article:nth-of-type(5) > a, p {
  text-decoration:underline;
}

main section:nth-of-type(2) {
  display: flex;
  margin: 6rem 0;
}

main section:nth-of-type(2) article {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 10rem;
  margin: 0;
}

main section:nth-of-type(2) img, 
main section:nth-of-type(3) img {
  width: 100%;
  min-width: 8rem;
  object-fit: cover;
}

main section:nth-of-type(3) {
  display: flex;
}

main section:nth-of-type(3) article {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 10rem;
  margin: 0;
}

main section:nth-of-type(4) video {
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

main section:nth-of-type(5) ul li a{
  text-decoration: none;
  list-style-type: none;
}

main section:nth-of-type(5) ul li {
  list-style-type: none;
}






/*************************************/
/* MAIN holiday-shop product carousel*/
/*************************************/

main section:nth-of-type(5) ul {
  display: flex;
  width: 100%;
  overflow-x: auto; /*horizontaal scrollen*/
  margin: 2rem 0;
}

main section:nth-of-type(5) ul li {
  width: 100%;
  position: relative; /* verschuift binnen de section */
  margin-left: .5rem;
}

main section:nth-of-type(5) ul li button { /*hartje svg*/
  border: none;
  background-color: transparent; /*achtergrond van hartje*/
  aspect-ratio: 1/1;
  position: absolute;
  width: 1rem;
  right: 1rem;
  top: 1rem;
  z-index: 5; /*helemaal bovenste laag*/
  display: block;
}

main section:nth-of-type(5) ul li button.liked svg, main section:nth-of-type(5) ul li button:hover svg{
  fill: red;
}

main section:nth-of-type(5) ul li button svg {
  fill: transparent;
  stroke-width: .5rem;
  stroke: black;
}

main section:nth-of-type(5) ul li a {
 color: var(--color-text);
 font-size: .7rem;
 text-overflow: ellipsis;
 width: 10rem;
 display: block;
}

main section:nth-of-type(5) ul li a h3{
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
}



/**********************************/
/* MAIN holiday-shop breadcrumbs  */
/**********************************/
main section:nth-of-type(6) { /* bron: https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */
  padding: .5rem;
  list-style: none;
  background-color: white;
}

main section:nth-of-type(6) li {
  display: inline;
  font-size: 18px;
  text-transform: uppercase;
}

main section:nth-of-type(6) li+li:before {
  padding: .4rem; /* ruimte tussen woorden */
  color: black;
  content: "/";
}

main section:nth-of-type(6) li a {
  color: #0275d8;
  text-decoration: none;
}

main section:nth-of-type(6) li a:hover {
  color: #000000;
  text-decoration: underline;
}




/*************************/
/* Product pagina 2      */
/*************************/

[class= "productinfo"] main section:nth-of-type(1) { /* met de hulp van sabrina */
  display: flex; 
  overflow: auto; /* zorgt voor scroll functie */
  scroll-snap-type:x mandatory;/* als je swiped stopt die en kun je niet door scrollen */
  scroll-snap-stop: always;
  gap: 1rem;
}

[class= "productinfo"] main section:nth-of-type(1) img {
/* snap punt creeeren (waar de foto gestopt wordt) */
  scroll-snap-align: center;
  overscroll-behavior: contain;
  margin-left: 0;
}

[class= "productinfo"] main section:nth-of-type(2), [class= "productinfo"] main section:nth-of-type(3){ 
  display: flex;
  flex-direction: column;
  margin: 0;
}

[class= "productinfo"] main section:nth-of-type(2) h1 { 
  font-size: 1.9rem;
}

[class= "productinfo"] main section:nth-of-type(2) h1, [class= "productinfo"] p, [class= "productinfo"] main section:nth-of-type(2) h1, [class= "productinfo"] p, [class= "productinfo"] h2 { 
  margin: 1rem;
  list-style-type: none;
  text-decoration: none;
}

[class= "productinfo"] main section:nth-of-type(2) img {
  width: 1vw;
  height: 3vh;
  margin-bottom: 2rem;
}

[class= "productinfo"] main section:nth-of-type(3) {
  flex-direction: column;
} 

[class= "productinfo"] main section:nth-of-type(3) details > ul {
  padding: 1rem;
}

[class= "productinfo"] main button {
  background-color: black;
  color:white;
  padding: 1rem;
  width: 90%;
  align-self: center;
  margin: 1rem;
}

[class= "productinfo"] main button:focus { /* als je tabt wordt het beter zichtbaar met de focus */
  background-color: red;
  color: var(--color-text);
}







/*************************/
/*onderaan met plusjes   */
/*************************/
summary { /*omschrijving, materialen, levering en betaling*/
  /* bron: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details */
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: "HM Sans Latin Bold";
  font-size: 1rem;
}

summary::after { /* voegt iets toe aan bestaande inhoud */
  content: '+';
  width: 9vw;
  height: 1rem;
  color: black;
  transition: .2s;
}

details > p, details li {
  font-size: .9rem;
  max-width: 70%; /* voor leesbaarheid van de tekst, stretcht ie niet volledig */
  padding-bottom: 1rem;
  margin-left: 0%;
  list-style-type:none;
  text-decoration: none;

}





/*************************/
/*       footer          */
/*************************/

footer section:nth-of-type(1) img {
  width: 10%;
  margin-top: 3rem;
  margin-left: 1rem;
}

footer section:nth-of-type(1) p {
  margin-bottom: 3rem;
  margin-left: 1rem;
  text-decoration: none;
}

footer section:nth-of-type(2) ul {
  display: flex;
  align-content: row;
  justify-content: space-around;
}

footer section:nth-of-type(2) ul li{
  list-style-type: none;
}

footer section:nth-of-type(2) img {
width: 7vw;
padding: .3rem;
}


